* {
    font-family: sans-serif;
}

.content {
    width: 1280px;

}
aside {
    position: absolute;
    right: 0px;  
    width: 162px;  
}
.pallet, .cmd, .map  {
    background-color: rgba(0,0,0,0.1);
}
.map {
    
}
.cmd input {
    width:100%;
}
.pallet{
    
}
.pallet .tab * + * {
    smargin: 10px 0px;
}

.map svg {
    
}

.content div, .pallet .icons div, p {
    box-sizing: border-box;
    sborder: 1px solid rgba(102, 102, 102, 0.1);
    height: 64px;
    width: 64px;
    font-size:9px;
    text-align:center;
    color: rgba(0,0,0,0);
}
.pallet h1 {
    font-size:12px;
    margin-left:6px;
}
.pallet .tab {
    border: 1px solid green;
    width: 162px;
    overflow:hidden;
}

.pallet .icons {
    display:none;
}

.pallet .tab.active .icons{
    display:block;
}
.pallet .tab h1::before {
    content: "￫";
}
.pallet .tab.active h1::before {
    content: "￬";
}
.pallet .icons div {
    box-sizing: initial;
    border: 5px solid rgba(0,0,0,1);
    float:left;
    smargin: 10px ;
    margin-left: 5px;
    margin-top: 5px;
}
.pallet .icons div.selected {
    border: 5px solid rgba(255,0,0,1);
}

.miniPallet {
    color: #999;
    border-radius: 4px;
    position: absolute;
    top:14px;
    left:64px;
    width: 112px;
    background-color: #ccc;
    margin-left: 16px;
    display:none;
}
.miniPallet .notch{
    position: absolute;
    top: 16px;
    left: -16px;
    margin: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid #ccc;
    border-bottom: 8px solid transparent;
    padding: 0;
    width: 0;
    height: 0;
    /* ie6 height fix */
    font-size: 0;
    line-height: 0;
     /* ie6 transparent fix */
    _border-right-color: #ccc;
    _border-left-color: #ccc;
    _filter: chroma(color=#ccc);
    
}

.miniPallet > .item {
    padding: 6px;
    vertical-align: middle;
    cursor: default;
}
.miniPallet > .item:first-child  {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
}
.miniPallet > .item:not(:last-child){
    border-bottom:1px solid #bbb;
}

.miniPallet > .item:hover{
    background-color:#efefef;
    scolor:#ccc;
}

.miniPallet .item .icon {
    border-radius: 4px;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    display: inline-block;
    vertical-align: middle;
}

.miniPallet .item .badge {
    
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    float: right;
    line-height: 2;
}

.content div {
    float: left;
    width: 64px;
}

p {
    position:absolute;
    margin:0;
    padding:0;
    border: none;
    background-repeat: no-repeat;
    ssbackground-attachment: fixed;
    background-position: center; 
    
}
p.left {
    background-image: url("img/linkGreenLeft.png");
}
p.bottom {
    background-image: url("img/linkGreenForward.png");
    /*border-bottom: 5px solid rgba(0,255,0,0.75);*/
    background-color: none;
}
p.bottom.two {
    background-image: url("img/linkGreenForward2.png");
    /*border-bottom: 5px solid rgba(0,255,0,0.75);*/
    background-color: none;
}

p.right {
    background-image: url("img/linkGreenRight.png");
}
p.top {
    background-image: url("img/linkGreenBack.png");
}


.unknown {
    background-image: url("img/unknown.png");
    background-color: rgba(0, 0, 0, .1);
}
/*mountain green*/
.mountainGreenTopLeft {
    background-image: url("img/mountainGreenTopLeft.png");
    background-color: rgba(19, 142, 1, 1);
}
.mountainGreenTop {
    background-image: url("img/mountainGreenTop.png");
    background-color: rgba(19, 142, 1, 1);
}
.mountainGreenTopRight {
    background-image: url("img/mountainGreenTopRight.png");
    background-color: rgba(19, 142, 1, 1);
}
.mountainGreen {
    background-image: url("img/mountainGreen.png");
    background-color: rgba(19, 142, 1, 1);
}
.mountainGreenLowerLeft {
    background-image: url("img/mountainGreenLowerLeft.png");
    background-color: rgba(19, 142, 1, 1);
}
.mountainGreenLowerRight {
    background-image: url("img/mountainGreenLowerRight.png");
    background-color: rgba(19, 142, 1, 1);
}



/*Red Mountain*/
.mountainRedTop {
    background-image: url("img/mountainRedTop.png");
    background-color: rgba(176, 37, 3, 1);
}
.mountainRedTopRight {
    background-image: url("img/mountainRedTopRight.png");
    background-color: rgba(176, 37, 3, 1);
}
.mountainRedTopLeft {
    background-image: url("img/mountainRedTopLeft.png");
    background-color: rgba(176, 37, 3, 1);
}
.mountainRed {
    background-image: url("img/mountainRed.png");
    background-color: rgba(176, 37, 3, 1);
}
.mountainRedLowerRight {
    background-image: url("img/mountainRedLowerRight.png");
    background-color: rgba(176, 37, 3, 1);
}
.mountainRedLowerLeft {
    background-image: url("img/mountainRedLowerLeft.png");
    background-color: rgba(176, 37, 3, 1);
}

/*White Mountain*/
.mountainWhiteTop {
    background-image: url("img/mountainWhiteTop.png");
    background-color: rgba(255, 255, 255, 1);
}
.mountainWhiteTopRight {
    background-image: url("img/mountainWhiteTopRight.png");
    background-color: rgba(255, 255, 255, 1);
}
.mountainWhiteTopLeft {
    background-image: url("img/mountainWhiteTopLeft.png");
    background-color: rgba(255, 255, 255, 1);
}
.mountainWhite {
    background-image: url("img/mountainWhite.png");
    background-color: rgba(255, 255, 255, 1);
}
.mountainWhiteLowerRight {
    background-image: url("img/mountainWhiteLowerRight.png");
    background-color: rgba(255, 255, 255, 1);
}
.mountainWhiteLowerLeft {
    background-image: url("img/mountainWhiteLowerLeft.png");
    background-color: rgba(255, 255, 255, 1);
}

/*mountain Black*/
.mountainBlackTopLeft {
    background-image: url("img/mountainBlackTopLeft.png");
    background-color: rgba(19, 142, 1, 1);
}
.mountainBlackTop {
    background-image: url("img/mountainBlackTop.png");
    background-color: rgba(19, 142, 1, 1);
}
.mountainBlackTopRight {
    background-image: url("img/mountainBlackTopRight.png");
    background-color: rgba(19, 142, 1, 1);
}
.mountainBlack {
    background-image: url("img/mountainBlack.png");
    background-color: rgba(19, 142, 1, 1);
}
.mountainBlackLowerLeft {
    background-image: url("img/mountainBlackLowerLeft.png");
    background-color: rgba(19, 142, 1, 1);
}
.mountainBlackLowerRight {
    background-image: url("img/mountainBlackLowerRight.png");
    background-color: rgba(19, 142, 1, 1);
}

/*Red Tree*/
.treeRedLeft {
    background-image: url("img/treeRedLeft.png");
    background-color: rgba(176, 37, 3, 1);
}
.treeRedRight {
    background-image: url("img/treeRedRight.png");
    background-color: rgba(176, 37, 3, 1);
}
.treeRedTopLeft {
    background-image: url("img/treeRedTopLeft.png");
    background-color: rgba(176, 37, 3, 1);
}
.treeRedTop {
    background-image: url("img/treeRedTop.png");
    background-color: rgba(176, 37, 3, 1);
}
.treeRedTopRight {
    background-image: url("img/treeRedTopRight.png");
    background-color: rgba(176, 37, 3, 1);
}

/*Green Tree*/
.treeGreenLeft {
    background-image: url("img/treeGreenLeft.png");
    background-color: rgba(19, 142, 1, 1);
}
.treeGreenRight {
    background-image: url("img/treeGreenRight.png");
    background-color: rgba(19, 142, 1, 1);
}
.treeGreenTopLeft {
    background-image: url("img/treeGreenTopLeft.png");
    background-color: rgba(19, 142, 1, 1);
}
.treeGreenTop {
    background-image: url("img/treeGreenTop.png");
    background-color: rgba(19, 142, 1, 1);
}
.treeGreenTopRight {
    background-image: url("img/treeGreenTopRight.png");
    background-color: rgba(19, 142, 1, 1);
}


/*Red Sand*/
.sandRedTopLeft {
    background-image: url("img/sandRedTopLeft.png");
    background-color: rgba(233, 180, 78, 1);
}
.sandRedTop {
    background-image: url("img/sandRedTop.png");
    background-color: rgba(233, 180, 78, 1);
}

.sandRedTopRight {
    background-image: url("img/sandRedTopRight.png");
    background-color: rgba(233, 180, 78, 1);
}
.sandRedLeft {
    background-image: url("img/sandRedLeft.png");
    background-color: rgba(233, 180, 78, 1);
}
.sand {
    /*Obsolete use sandRed instead*/
    background-image: url("img/sand.png");
    background-color: rgba(233, 180, 78, 1);
}
.sandRed {
    background-image: url("img/sand.png");
    background-color: rgba(233, 180, 78, 1);
}
.sandRedRight {
    background-image: url("img/sandRedRight.png");
    background-color: rgba(233, 180, 78, 1);
}
.sandRedLowerLeft {
    background-image: url("img/sandRedLowerLeft.png");
    background-color: rgba(233, 180, 78, 1);
}
.sandRedLower {
    background-image: url("img/sandRedLower.png");
    background-color: rgba(233, 180, 78, 1);
}
.sandRedLowerRight {
    background-image: url("img/sandRedLowerRight.png");
    background-color: rgba(233, 180, 78, 1);
}


/*Red Gate*/
.gateRedTopLeft {
    background-image: url("img/gateRedTopLeft.png");
    background-color: rgba(176, 37, 3, 1);
}
.gateRedTop {
    background-image: url("img/gateRedTop.png");
    background-color: rgba(176, 37, 3, 1);
}
.gateRedCyclopsTop {
    background-image: url("img/gateRedCyclopsTop.png");
    background-color: rgba(176, 37, 3, 1);
}
.gateRedTopRight {
    background-image: url("img/gateRedTopRight.png");
    background-color: rgba(176, 37, 3, 1);
}
.gateRedLeft {
    background-image: url("img/gateRedLeft.png");
    background-color: rgba(176, 37, 3, 1);
}
.gateRedRight {
    background-image: url("img/gateRedRight.png");
    background-color: rgba(176, 37, 3, 1);
}

/*Green Gate*/
.gateGreenTopLeft {
    background-image: url("img/gateGreenTopLeft.png");
    background-color: rgba(19, 142, 1, 1);
}
.gateGreenTop {
    background-image: url("img/gateGreenTop.png");
    background-color: rgba(19, 142, 1, 1);
}
.gateGreenCyclopsTop {
    background-image: url("img/gateGreenCyclopsTop.png");
    background-color: rgba(19, 142, 1, 1);
}
.gateGreenTopRight {
    background-image: url("img/gateGreenTopRight.png");
    background-color: rgba(19, 142, 1, 1);
}
.gateGreenLeft {
    background-image: url("img/gateGreenLeft.png");
    background-color: rgba(19, 142, 1, 1);
}
.gateGreenRight {
    background-image: url("img/gateGreenRight.png");
    background-color: rgba(19, 142, 1, 1);
}

/*White Gate*/
.gateWhiteTopLeft {
    background-image: url("img/gateWhiteTopLeft.png");
    background-color: rgba(255, 255, 255, 1);
}
.gateWhiteCyclopsTop {
    background-image: url("img/gateWhiteCyclopsTop.png");
    background-color: rgba(255, 255, 255, 1);
}
.gateWhiteTop {
    background-image: url("img/gateWhiteTop.png");
    background-color: rgba(255, 255, 255, 1);
}
.gateWhiteTopRight {
    background-image: url("img/gateWhiteTopRight.png");
    background-color: rgba(255, 255, 255, 1);
}
.gateWhiteLeft {
    background-image: url("img/gateWhiteLeft.png");
    background-color: rgba(255, 255, 255, 1);
}
.gateWhiteRight {
    background-image: url("img/gateWhiteRight.png");
    background-color: rgba(255, 255, 255, 1);
}

/*Water Red*/

.waterRedTopLeft {
    background-image: url("img/waterRedTopLeft.png");
    background-color: rgba(112, 112, 201, 1);
}
.waterRedTopRight {
    background-image: url("img/waterRedTopRight.png");
    background-color: rgba(112, 112, 201, 1);
}
.waterRedTop {
    background-image: url("img/waterRedTop.png");
    background-color: rgba(112, 112, 201, 1);
}
.waterRedLeft {
    background-image: url("img/waterRedLeft.png");
    background-color: rgba(112, 112, 201, 1);
}
.water {
    /*Obsolete use waterRed*/
    background-image: url("img/water.png");
    background-color: rgba(112, 112, 201, 1);
}
.waterRed {
    background-image: url("img/water.png");
    background-color: rgba(112, 112, 201, 1);
}
.waterRedRight {
    background-image: url("img/waterRedRight.png");
    background-color: rgba(112, 112, 201, 1);
}
.waterRedLowerLeft {
    background-image: url("img/waterRedLowerLeft.png");
    background-color: rgba(112, 112, 201, 1);
}
.waterRedLower {
    background-image: url("img/waterRedLower.png");
    background-color: rgba(112, 112, 201, 1);
}
.waterRedLowerRight {
    background-image: url("img/waterRedLowerRight.png");
    background-color: rgba(112, 112, 201, 1);
}

.waterRedOutsideLowerRight {
    background-image: url("img/waterRedOutsideLowerRight.png");
    background-color: rgba(112, 112, 201, 1);
}
.waterRedOutsideLowerLeft {
    background-image: url("img/waterRedOutsideLowerLeft.png");
    background-color: rgba(112, 112, 201, 1);
}
.waterRedOutsideTopLeft {
    background-image: url("img/waterRedOutsideTopLeft.png");
    background-color: rgba(112, 112, 201, 1);
}
.waterRedOutsideTopRight {
    background-image: url("img/waterRedOutsideTopRight.png");
    background-color: rgba(112, 112, 201, 1);
}

/*Water Green*/

.waterGreenTopLeft {
    background-image: url("img/waterGreenTopLeft.png");
    background-color: rgba(19, 142, 1, 1);
}
.waterGreenTopRight {
    background-image: url("img/waterGreenTopRight.png");
    background-color: rgba(19, 142, 1, 1);
}
.waterGreenTop {
    background-image: url("img/waterGreenTop.png");
    background-color: rgba(19, 142, 1, 1);
}
.waterGreenLeft {
    background-image: url("img/waterGreenLeft.png");
    background-color: rgba(19, 142, 1, 1);
}
.waterGreen {
    background-image: url("img/waterGreen.png");
    background-color: rgba(19, 142, 1, 1);
}
.waterGreenRight {
    background-image: url("img/waterGreenRight.png");
    background-color: rgba(19, 142, 1, 1);
}
.waterGreenLowerLeft {
    background-image: url("img/waterGreenLowerLeft.png");
    background-color: rgba(19, 142, 1, 1);
}
.waterGreenLower {
    background-image: url("img/waterGreenLower.png");
    background-color: rgba(19, 142, 1, 1);
}
.waterGreenLowerRight {
    background-image: url("img/waterGreenLowerRight.png");
    background-color: rgba(19, 142, 1, 1);
}

.waterGreenOutsideLowerRight {
    background-image: url("img/waterGreenOutsideLowerRight.png");
    background-color: rgba(112, 112, 201, 1);
}
.waterGreenOutsideLowerLeft {
    background-image: url("img/waterGreenOutsideLowerLeft.png");
    background-color: rgba(112, 112, 201, 1);
}
.waterGreenOutsideTopLeft {
    background-image: url("img/waterGreenOutsideTopLeft.png");
    background-color: rgba(112, 112, 201, 1);
}
.waterGreenOutsideTopRight {
    background-image: url("img/waterGreenOutsideTopRight.png");
    background-color: rgba(112, 112, 201, 1);
}


/*extras*/
.waterfall {
    background-image: url("img/waterfall.png");
    background-color: rgba(112, 112, 201, 1);
}


.bridge {
    background-image: url("img/bridge.png");
    background-color: rgba(176, 37, 3, 1);
}
.bridgeGreen {
    background-image: url("img/bridgeGreen.png");
    background-color: rgba(19, 142, 1, 1);
}

.stairsRed {
    background-image: url("img/stairsRed.png");
    background-color: rgba(176, 37, 3, 1);
}

.ladderRed {
    background-image: url("img/ladderRed.png");
    background-color: rgba(0, 0, 255, 1);
}
.ladderGreen {
    background-image: url("img/ladderGreen.png");
    background-color: rgba(0, 0, 255, 1);
}
.ladderWhite {
    background-image: url("img/ladderWhite.png");
    background-color: rgba(255, 255, 255, 1);
}
.guardRed {
    background-image: url("img/guardRed.png");
    background-color: rgba(176, 37, 3, 1);
}
.guardGreen {
    background-image: url("img/guardGreen.png");
    background-color: rgba(19, 142, 1, 1);
}
.guardWhite {
    background-image: url("img/guardWhite.png");
    background-color: rgba(255, 255, 255, 1);
}

.quicksand {
    background-color: rgba(183, 135, 20, 1);
}
.headstone {
    background-image: url("img/headstone.png");
    background-color: rgba(255, 255, 255, 1);
}

.bushGreen {
    background-image: url("img/bushGreen.png");
    background-color: rgba(19, 142, 1, 1);
}

.bushRed {
    background-image: url("img/bushRed.png");
    background-color: rgba(176, 37, 3, 1);
}
.bushWhite {
    background-image: url("img/bushWhite.png");
    background-color: rgba(255, 255, 255, 1);
}

.rockGreen {
    background-image: url("img/rockGreen.png");
    background-color: rgba(19, 142, 1, 1);
}

.rockRed {
    background-image: url("img/rockRed.png");
    background-color: rgba(176, 37, 3, 1);
}

.cave {
    background-image: url("img/cave.png");
    background-color: rgba(0, 0, 0, 1);
}

.dirt {
    background-image: url("img/dirt.png");
    background-color: rgba(254, 179, 103, 1);
}
.dirtGrey {
    background-image: url("img/dirtGrey.png");
    background-color: rgba(103, 103, 103, 1);
}

.grass {
    background-image: url("img/grass.png");
    background-color: rgba(17, 172, 0, 1);
}

.linkGreenForward {
    background-image: url("img/linkGreenForward.png");
    
}


.threshold a, .threshold a:hover {
    
    text-decoration: none;
    color:black;
}
.threshold a.active{
    color:blue;
}